{% extends "VMBlogBundle::base.html.twig" %}

{% block vmblog_body %}
 
 {% if images is not empty %}
    <table id="" class="">
        <caption>GALLERY</caption>
        <tbody>
        <tr>
    {% for key, image in images %}
        <td><img class="" id="{{ key }}" src="{{ asset('bundles/vmblog/images/'~image.url) }}" rel="popover" alt="{{ image.alt}}" title="{{ image.alt}}" /></td>
        {# le tableau comporte 4 colonnes #}
        {% if loop.index % 4 == 0 %}</tr><tr>{% endif %}    
    {% endfor %}
    </tbody></table>
{% endif %}

<script language="javascript" type="text/javascript">
 $(document).ready(function() 
 {
    $("img").popover({trigger: 'hover',html:true, content: function() { return '<img class="img-rounded" width="230px" src="'+$(this).attr('src')+'"/>'; }, delay: { show: 500, hide: 10} });
 });//$.data(document.body, 'popup',1);
</script>


{% endblock %}                
