{% extends "VMBlogBundle::base.html.twig" %}

  
{% block vmblog_body %}
  
<span class="text-danger text-center">
{{    
  "  Bonjour,

Le site est actuellement en maintenance. Il sera de nouveau disponible dans les
plus brefs délais.

Cordialement,

Vincent Mauget (webmaster)." | upper
}}
</span>

{% endblock vmblog_body %}